# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Binary file as firmware
*.bin

# Memory map file
*.map

# Ignore workdir
work

# Ignore nodejs modules
node_modules

# Ignore python intermediate files
*.pyc

# OS-specific files
.DS_Store
