html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="Keywords" content="login,wstty")
        meta(name="Description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        title #{title}
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
    body
        .container
            .row
                .col-md-5.mx-auto
                    #first
                        .myform.form
                            .logo.mb-3
                                .col-md-12.text-center
                                    h1 Login
                            form(action="/actions/login" method="post" name="login")
                                .form-group
                                    label(for="exampleInputEmail1") Email address
                                    input(type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email")
                                .form-group
                                    label(for="exampleInputEmail1") Password
                                    input(type="password" name="password" id="password" class="form-control" aria-describedby="emailHelp" placeholder="Enter Password")
                                .form-group
                                    p.text-center By signing up you accept our 
                                        a(href="#") Terms Of Use
                                .col-md-12.text-center
                                    button.btn.btn-block.mybtn.btn-primary.tx-tfm(type="submit") Login
                                .form-group
                                    p.text-central Don't have account? 
                                        a(href="#" id="signup") Sing up here
                    #second
                        .myform.form
                            .logo.mb-3
                                .col-md-12.text-center
                                    h1 Signup
                            form(action="/actions/register" method="post" name="registration")
                                .form-group
                                    label(for="exampleInputEmail1") Name
                                    input(type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter Name")
                                .form-group
                                    label(for="exampleInputEmail1") Email address
                                    input(type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email")
                                .form-group
                                    label(for="exampleInputEmail1") Password
                                    input(type="password" name="password" id="password" class="form-control" aria-describedby="emailHelp" placeholder="Enter Password")
                                .col-md-12.text-center
                                    button.btn.btn-block.mybtn.btn-primary.tx-tfm(type="submit") Get Started For Free
                                .form-group
                                    p.text-central
                                        a(href="#" id="signin") Already have an account?

        link(href="/css/login.css" rel="stylesheet")
        script(src="/js/login.js")
